.auth-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #2c3e50;
    height: 100vh;
    color: white;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 15%;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input::placeholder {
    color: #b0b0b0;
  }
  
  .form-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    font-size: 16px;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }

  .register-login-option {
    margin-top: 20px;
  }
  
  .switch-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    font-size: 16px;
  }

  .switch-btn:hover {
    background-color: #0056b3;
  }